html {
  scroll-behavior: smooth;
}

body {
  font-family: "Pixelify Sans", sans-serif;
  overflow-x: hidden;
  background-color: #0a0a0a;
}

/* Navbar */

nav {
  display: flex;
  background-color: #0a0a0a;
  justify-content: space-around;
  padding: 20px 0;
  color: #ffffff;
  min-height: 30px;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 999;
}

nav .logo {
  font-family: "Orbitron", sans-serif;
  z-index: 1000;
}

nav h4 {
  font-size: 20px;
  margin: 0;
}

nav ul {
  display: flex;
  list-style: none;
  width: 40%;
  justify-content: space-around;
  box-sizing: border-box;
}

nav ul li a {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 10px;
  transition: 0.3s;
}

nav ul li a:hover {
  color: #1c1c1c;
  background-color: #ffffff;
}

/* Hamburger menu */
.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
  z-index: 1001;
  margin-right: 20px;
}
.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  left: -5px;
  top: -3px;
  opacity: 0;
  cursor: pointer;
  z-index: 1002;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: #ffffff;
  border-radius: 3px;
  transition: all 0.2s;
}

/* pahlawan */

.hero {
  background-image: url(../img/After/hero5.png);
  background-size: cover;
  width: 100%;
  height: 100dvh;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  padding-bottom: 50px;
  box-sizing: border-box;
}

.hero h1 {
  font-size: 3rem;
  color: #ffffff;
  margin-top: auto;
  font-weight: bolder;
  font-family: "Orbitron", sans-serif;
}
.hero h3 {
  font-size: 1rem;
  margin-bottom: auto;
  color: #ffffff;
  font-family: "Orbitron", sans-serif;
}
.hero h1,
.hero h3 {
  text-shadow: 0 6px 12px #0a0a0a;
}

.hero a {
  display: inline-block;
  text-decoration: none;
  background-color: #1c1c1c;
  color: #ffffff;
  padding: 15px 50px;
  border-radius: 10px;
  font-weight: 600;
  margin-bottom: 50px;
  box-shadow: 0 4px 6px #1c1c1c;
  position: relative;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
}

.hero a:hover {
  background-color: #ffffff;
  color: #1c1c1c;
  transform: translateY(-3px);
}

/* ini profil */
.profil {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  flex-wrap: wrap;
}

.profil-kiri {
  text-align: left;
  margin: 50px 100px;
  flex: 1;
}

.profil-kiri img {
  width: 100%;
  max-width: 500px;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50px;
  box-shadow: 0 25px 30px #b0b0b0;
}

.profil-kanan {
  flex: 2;
  display: flex;
  justify-content: center;
  padding: 40px;
  margin: auto;
  border-radius: 15px 0px 0px 15px;
  background-color: #1c1c1c;
  color: #ffffff;
}

.bungkus-kanan {
  width: 100%;
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
}
.bungkus-kanan h1 {
  font-family: "Orbitron", sans-serif;
  margin-bottom: 20px;
  color: #ffffff;
  text-shadow: 0 6px 12px #b0b0b0;
}

.icons-luhur {
  gap: 10px;
  display: flex;
  margin-top: 10px;
}

.icons-luhur a {
  color: #ffffff;
}

/* ini about */
.about {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.about h2 {
  width: 100%;
  text-align: center;
  margin-top: 150px;
  margin-bottom: 10px;
  font-size: 2rem;
  font-family: "Orbitron", sans-serif;
  color: #ffffff;
  padding: 20px 10px;
  text-shadow: 0 6px 12px #b0b0b0;
}

.about p {
  flex: 1;
  text-align: justify;
  padding: 50px;
  margin: 50px;
  width: 200px;
  height: auto;
  border-radius: 10px;
  background-color: #1c1c1c;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
}

/* skill kok kotak? */
.skill-kotak {
  text-align: center;
  padding: 50px;
  margin-top: 100px;
}

.skill-kotak h2 {
  margin-bottom: 30px;
  font-size: 2rem;
  margin-top: 100px;
  font-family: "Orbitron", sans-serif;
  color: #ffffff;
  padding: 20px 10px;
  text-shadow: 0 6px 12px #b0b0b0;
}

.bungkus-kotak {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  color: #ffffff;
}

.kotak-skill {
  background-color: #1c1c1c;
  padding: 30px 50px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 2rem;
}

/* infokan foto */

.Gallery {
  padding: 50px;
  text-align: center;
  margin-top: 150px;
}

.Gallery h2 {
  margin-bottom: 30px;
  font-size: 2rem;
  position: relative;
  font-family: "Orbitron", sans-serif;
  color: #ffffff;
  text-shadow: 0 6px 12px #b0b0b0;
}

/* tah foto didie */
.box-foto {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.foto {
  flex: 0 0 300px;
  aspect-ratio: 4 / 5;
  overflow: hidden;
  border-radius: 8px;
}

.foto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* ini kotak */

.contact-container {
  margin: 150px auto;
  max-width: 800px;
  padding: 30px;
  background-color: #1c1c1c;
  border-radius: 15px;
  font-family: "Orbitron", sans-serif;
  box-sizing: border-box;
}

.contact-container h2 {
  text-align: center;
  color: #ffffff;
  margin-bottom: 20px;
}

.contact-container form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.name-group {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

input {
  padding: 12px 15px;
  border: 1px solid #555555;
  border-radius: 10px;
  outline: none;
  transition: 0.3s;
  width: 100%;
  box-sizing: border-box;
}
input:focus {
  border-color: #ffffff;
}

button {
  background-color: #1c1c1c;
  color: #ffffff;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

button:hover {
  background-color: #ffffff;
  color: #0a0a0a;
}

/* suku */
.kaki {
  background-color: #1c1c1c;
  padding: 30px;
  color: #ffffff;
  text-align: center;
  font-size: 1rem;
}

/* Hamburger menu animation */
.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  background-color: rgb(228, 228, 228);
  transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(3) {
  opacity: 0;
  transform: scale(0);
}

.menu-toggle input:checked ~ span:nth-child(4) {
  background-color: rgb(228, 228, 228);
  transform: rotate(-45deg) translate(-1px, 0);
}

/* responsivive breakpoint */

/* uluran tablat */
@media screen and (max-width: 1100px) {
  nav h4 {
    margin-left: 20px;
  }
  nav ul {
    width: 100%;
    justify-content: space-around;
  }
  .profil {
    flex-direction: column;
  }
  .profil-kanan {
    border-radius: 0px;
  }
}
/* uluran mobile */
@media screen and (max-width: 600px) {
  html,
  body {
    overflow-x: hidden;
    max-width: 100%;
  }
  .menu-toggle {
    display: flex;
  }
  nav {
    justify-content: space-around;
  }
  nav h4 {
    margin-left: -20px;
  }
  nav ul {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 40vh;
    gap: 30px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #0a0a0a;
    z-index: 1000;
    transform: translateX(100%);
    transition: all 0.5s;
    opacity: 1;
  }
  nav ul.slide {
    transform: translateX(0);
  }
  .hero h1 {
    font-size: 2rem;
  }
  .about h2,
  .skill-kotak h2,
  .Gallery h2 {
    margin-top: 80px;
  }
  .kotak-skill {
    padding: 30px;
    font-size: 1rem;
  }
  .contact-container {
    border-radius: 0px;
  }
}
